/* ---------------------------------------------------------------------------------------------------- 
    Common Common Common Common Common Common Common Common Common Common Common Common Common Common
-------------------------------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

@font-face {
    font-family: 'octovilleregular';
    src: url('../fonts/Octaville.woff2') format('woff2'),
         url('../fonts/Octaville.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'reload_alt_cyrilic_by_steloBd';
    src: url('../fonts/17734-webfont.woff2') format('woff2'),
         url('../fonts/17734-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --orange: #ff9900;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-repeat: no-repeat;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #333333;
}

a:hover {
    color: var(--orange);
}

p {
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
    user-select: none;
}

h1, h2 {
    margin: 0;
}

.subheader {
    margin-top: 100px;
    margin-bottom: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
}

.highlighted {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 32px;
}

.text {
    line-height: 32px;
}

.numbered-list {
    counter-reset: li;
}


.numbered-list-item {
    position: relative;
    margin-bottom: 1.5em;
    border: 2px solid rgb(209, 209, 209);
    padding: 0.6em;
    border-radius: 4px;
    color: #231F20;
}

.numbered-list-item::before {
    position: absolute;
    top: -0.7em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    font-size: 14px;
    font-weight: bold;
    color: #ff9900;
    background: #fff;
    border-radius: 50%;
    counter-increment: li;
    content: counter(li);
    transition-timing-function: ease;
}

.numbered-list-item:hover::before {
    left: -0.75em;
    top: 0.7em;
    transition-duration: 0.3s;
}

address, 
.phone, 
.footer-email, 
.footer-highlighted,
.footer-info-item {
    user-select: text;
}

.logo {
    display: block;
    padding: 0 20px;
    font-family: 'reload_alt_cyrilic_by_steloBd', sans-serif;
    font-size: 80px;
}


/* ---------------------------------------------------------------------------------------------------- 
    Header Header Header Header Header Header Header Header Header Header Header Header Header Header
-------------------------------------------------------------------------------------------------------*/

.header-logo {
    background: rgb(20, 20, 20);
    color: #fff;
    transform: translateY(1px);
    transition-duration: .1s;
}   

.header-logo:hover {
    color: #000;
    background-color: #fff;
}

.menu-box {
    visibility: hidden;
    position: fixed;
    /* visibility: hidden; */
    top: 0;
    left: 0;
    /* left: -100%; */

    width: 325px;
    height: 206vh;

    margin: 0;
    padding: 80px 0px;

    list-style: none;

    background-color: #333;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

    transition-duration: .25s;

    z-index: 2;
}

.menu-btn {
    margin-top: -20px;
}

.menu-box-item {
    margin: 0 20px 20px 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}

.menu-item-link {
    font-size: 22px;
    color: #fff;
}

.shadow {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 15800px;

    background-color: rgba(0, 0, 0, 0.301);

    z-index: 1;
}

.burger:focus .menu-box{
    display: block;
}

#menu-toggle {
    opacity: 0;
}

#menu-toggle:checked ~ .menu-box {
    visibility: visible;
    left: 0;
}

#menu-toggle:checked ~ .shadow {
    visibility: visible;
}

#menu-toggle:checked ~ .close-menu-btn {
    visibility: visible;
}

#close-menu {
    position: fixed;
    top: 8px;
    left: 8px;
    opacity: 0;
    z-index: 3;
}

.close-menu-btn {
    visibility: hidden;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 3;
}

#close-menu:checked ~ .menu-box {
    visibility: hidden;
}

#close-menu:checked ~ .shadow {
    visibility: hidden;
}

.burger-icon-close {
    fill: #fff;
    height: 40px;
    width: 40px;
}

.burger-svg {
    height: 35px;
    width: 35px;
}

.header {
    padding-bottom: 1px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.05);
}

.upper-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.phone {
    display: block;
    font-weight: bold;
    font-size: 20px;
}

.lower-header {
    display: flex;
    flex: 1 1 50%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    width: 60%;
    font-weight: 600;
}

.header-nav-link {
    padding-bottom: 5px;
    transition-duration: 0.1s;
}

.header-nav-link:hover {
    color: #333333;
    border-bottom: 3px solid var(--orange);
}

.search-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    padding: 8px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
}

#search {
    margin-right: 10px;
    border: none;
}

#search:active,
#search:focus {
    outline: none;
}

.search-btn {
    transform: translateY(2px);
}


.search-input:active .search-btn{
    display: none;
}

.search-input:focus-within .search-btn{
    display: none;
}

.dropdown-list {
    display: none;
    position: absolute;
    top: 170px;
    left: 64.2%;
    width: 330px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    font-weight: bold;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 5px #333;
}

.search-input:focus-within .dropdown-list {
    display: block;

}

.dropdown-list-item {
    padding: 10px 15px 10px 15px;
}

.dropdown-list-item:last-child {
    margin-bottom: 0;
    border-radius: 0 0 10px 10px;
}

.dropdown-list-item:first-child {
    border-radius: 10px 10px 0 0;
}

.dropdown-list-item:hover {
    background: rgb(224, 224, 224);
}

.dropdown-link {
    display: block;
    max-height: 88px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dropdown-link:hover {
    color: #333; 
}

.clarification {
    font-weight: normal;
    color: rgb(95, 95, 95);
}

/* ------------------------------------------------------------------------------------------------------ 
    Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero Hero 
---------------------------------------------------------------------------------------------------------*/

.hero-container {
    display: flex;
    flex-direction: column;
    height: 600px;
   
}

.hero-subcontainer {
    padding: 10vh 0 0 6vh;
}

.title {
    width: 60%;
    font-weight: 700;
    font-size: 60px;
    line-height: 7vh;
    color: #fff;
}

.tagline {
    width: 60%;
    margin-bottom: 0;
    margin-top: 32px;
    color: #fff;
    font-weight: bold;
    font-size: 23px;
    line-height: 29px;
}

.contact-us-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    margin-bottom: 0;
    margin-top: auto;
    font-weight: bold;
    font-size: 23px;
    line-height: 29px;
    color: #fff;
    background: var(--orange);
    transition-duration: 0.2s;
}

.contact-us-btn:hover {
    color: #fff;
    background-color: rgba(247, 148, 0, 0.87);
}

/* ---------------------------------------------------------------------------------------------------- 
    Service Service Service Service Service Service Service Service Service Service Service Service 
-------------------------------------------------------------------------------------------------------*/
.service-subheader {
    margin-bottom: 20px;
}

.service-sticker-container {
    padding: 50px 50px 0 50px;
}

.service-sticker {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    height: 230px;
    padding: 20px 40px;
    border-radius: 15px;
    color: #333;
    border: 1px solid #333;
    /* box-shadow: 3px 3px 10px #666; */
    transition-duration: 0.1s;
}

.service-sticker:hover {
    color: #ff9900;
    /* box-shadow: none;
    border: 1px solid #333; */
}

.service-sticker svg{
    height: 25%;
    width: 25%;
}

.sticker-text {
    margin-top: 45px;
    font-weight: 600;
}



/* -------------------------------------------------------------------------------------------------------- 
    Business Support Business Support Business Support Business Support Business Support Business Support 
-----------------------------------------------------------------------------------------------------------*/

.support-pic-column {
    height: 544px;
}

.support-img {
    height: 100%;
    width: 100%;
    background: url(../img/Busines-Support.jpg);
    background-size: cover;
    border-radius: 10px;
}

.support-sticker-row {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.support-highlighted {
    margin-top: 45px;
}

.support-sticker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    padding: 30px;
    border: 1px solid #333333;
    border-radius: 10px;
    transition-duration: 0.2s;
}

.support-sticker-text {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}

.support-sticker:hover .support-sticker-text{
    color: var(--orange);
}

.support-price {
    font-size: 24px;
    font-weight: bold;
}

/* ---------------------------------------------------------------------------------------------------- 
    Accounting Accounting Accounting Accounting Accounting Accounting Accounting Accounting Accounting 
-------------------------------------------------------------------------------------------------------*/

.accounting-list-item {
    margin-top: 10px;
    padding-left: 10px;
    border-left: 3px solid #333;
    transition-duration: 0.1s;
}

.accounting-list-item:hover {
    border-left: 10px solid var(--orange);
}

.accounting-row {
    margin-top: 40px;
}

.accounting-pic-column {
    height: 256px;
}

.accounting-pic {
    background: url(../img/Accounting.jpg);
    background-size: cover;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

/* ---------------------------------------------------------------------------------------------------- 
    Taxes Taxes Taxes Taxes Taxes Taxes Taxes Taxes Taxes Taxes Taxes Taxes Taxes Taxes Taxes Taxes 
-------------------------------------------------------------------------------------------------------*/

.taxes-img {
    display: flex;
    align-items: flex-end;
    height: 400px;
    margin-bottom: 60px;
    background: url(../img/Taxes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.taxes-img-text-container {
    padding: 15px;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
}

.section-taxes-list {
    width: 51%;
}

.section-taxes-list-item:nth-child(5n) {
    margin-bottom: 5px;
}

.footnote {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    padding-right: 10px;
    font-size: 12px;
}

/* ---------------------------------------------------------------------------------------------------- 
    Registration Registration Registration Registration Registration Registration Registration Registration  
-------------------------------------------------------------------------------------------------------*/

.quote-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
   
}

.registration-blockquote {
    width: 55%;
    margin: 0;
    margin-bottom: 20px;
    font-size: 19px;
    font-style: italic;
    border-right: 6px solid #333;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.registration-blockquote:hover {
    border-right: 40px solid #333;
    
}

.registration-list-item {
    position: relative;
    padding: 20px 0 20px 40px;
    cursor: default;
}

.registration-list-item::before {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #4F5151;
    content: "";
    left: 0;
    transition: .3s ease-in-out;
    top: 27px;
}

.registration-list-item::after {
    position: absolute;
    border-left: 1px solid #4F5151;
    width: 1px;
    bottom: -12px;
    content: "";
    left: 3px;
    top: 48px;
}

.registration-list-item:last-child::after {
    display: none;
}



/* ---------------------------------------------------------------------------------------------------- 
    Reports Submmission Reports Submmission Reports Submmission Reports Submmission Reports Submmission 
-------------------------------------------------------------------------------------------------------*/

.reports-submission-row {
    margin-bottom: 100px;
}

.submission-pic-1,
.submission-pic-2,
.submission-pic-3 {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.submission-pic-1 {
    background: url(../img/Submission-1.jpg);
    background-size: cover;
}

.submission-pic-2 {
    background: url(../img/Submission-2.jpg);
    background-size: cover;
}

.submission-pic-3 {
    background: url(../img/Submission-3.jpg);
    background-size: cover;
}

.reports-submission-column {
    display: flex;
    align-items: center;
    height: 300px;
    font-size: 18px;
}


/* ---------------------------------------------------------------------------------------------------- 
    Calculating taxes Calculating taxes Calculating taxes Calculating taxes Calculating taxes
-------------------------------------------------------------------------------------------------------*/
 
.calculating-taxes-subheader {
    margin-top: 20px;
}

/* ---------------------------------------------------------------------------------------------------- 
    Tax Reconciliation Tax Reconciliation Tax Reconciliation Tax Reconciliation Tax Reconciliation 
-------------------------------------------------------------------------------------------------------*/


.reconciliation-img {
    width: 100%;
    height: 580px;
    background: url(../img/Reconciliation.jpg);
    background-size: cover;
    border-radius: 10px;
}

.reconciliation-text {
    margin-bottom: 15px;
    line-height: 26px;
}

.reconciliation-text-important {
    font-weight: 600;
}

/* ---------------------------------------------------------------------------------------------------- 
    Problems Problems Problems Problems Problems Problems Problems Problems Problems Problems Problems 
-------------------------------------------------------------------------------------------------------*/


.problems-list {
    width: 83%;
}



.how-to-find-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.prefooter-address {
    margin-bottom: 40px;
}

.iframe {
    width: 100%;
}

/* ---------------------------------------------------------------------------------------------------- 
    Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer 
-------------------------------------------------------------------------------------------------------*/

.section-footer {
    margin-top: 100px;
    padding-bottom: 20px;
    padding-top: 0px;
    color: #fff;
    background-color: #000;
}

.footer-row {
    margin-top: 10px;
}

.footer-column-1 {
    padding-left: 0;
}

.footer-column-3 {
    padding-right: 0;
}

.footer-logo {
    width: 50%;
    color: #000;
    background-color: #fff;
    transform: translateY(-1px);
}

.footer-logo:hover {
    color: #fff;
    background-color: #000;
    transform: translateY(1px);
}

.footer-nav-list-item {
    margin-bottom: 5px;
}

.footer-nav-link {
    color: #fff;
}

.footer-highlighted {
    display: inline;
}

.footer-address {
    margin-top: 20px;
}

.footer-phones {
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer-phone {
    color: #fff;
}

.footer-email {
    color: #fff;
}

.footer-phone:active,
.footer-email:active,
.footer-phone:focus,
.footer-email:focus {
    color: var(--orange);
}

.copyright-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* ---------------------------------------------------------------------------------------------------- 
    @media @media @media @media @media @media @media @media @media @media @media @media @media @media 
-------------------------------------------------------------------------------------------------------*/



.container{
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}

@media (min-width:320px) {
    .text {
        font-size: 20px;
    }
    .container {
        width: 750px;
    }
    .lower-header {
        display: none;
    }
    .header-logo {
        margin-left: 70px;
        color: #000;
        background-color: #fff;
    }
    .shadow {
        width: 770px;
    }
    .hero-container {
        background-image: url(../img/Herojpg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .section-taxes-list {
        width: 100%;
    }
    .service-sticker-container {
        width: 50%;
    }
    .service-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .accounting-list-item {
        font-size: 22px;
    }
    .support-row {
        display: flex;
        flex-direction: column-reverse;
    }
    .support-text {
        margin-top: 40px;
    }
    .accounting-text {
        margin-top: 30px;
    }
    .taxes-img-text {
        font-size: 20px;
        line-height: 31px;
    }
    .section-taxes-list {
        font-size: 19px;
    }
    .registration-list {
        font-size: 20px;
    }
    .reports-submission-row {
        margin-bottom: 30px;
    }
    .reports-submission-row:nth-child(2n) {
        display: flex;
        flex-direction: column-reverse;
    }
    .reports-submission-row:not(:nth-child(2n)) {
        margin-bottom: 0;
    }
    .footer-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer-column {
        padding-left: 0;
        margin-left: 0;
    }
    .copyright-container {
        justify-content: start;
    }
    .section-footer {
        background-color: #fff;
    }
    .footer-container {
        /* background: linear-gradient(to right, #000 50%, #fff 100%); */
        background-color: #000;
        padding-left: 100px;
        padding-bottom: 20px;
    }
    .section-footer {
        padding-bottom: 0;
    }
    .reconciliation-column:first-child {
        margin-bottom: 30px;
    }
    .footer-logo {
        width: 500px;
        text-align: left;
    }
}

@media(min-width:576px) {

}

@media (min-width:768px){
    .container{
        width:750px
    }
    .text {
        font-size: 16px;
    }
    .accounting-text {
        font-size: 18px;
    }
    .shadow {
        width: 100%;
    }
    .accounting-list-item {
        font-size: 18px;
    }
    .taxes-img-text {
        font-size: 16px;
        line-height: 25px;
    }
    .section-taxes-list {
        font-size: 16px;
    }
    .footer-container {
        padding-left: 30%;
    }
    .section-footer {
        background-color: #000;
    }
    .reports-submission-row {
        margin-bottom: 60px;
    }
    .reports-submission-row:nth-child(2n) {
        display: block;
    }
    .reports-submission-row:not(:nth-child(2n)) {
        margin-bottom: 60px;
    }
    .submission-pic-1,
    .submission-pic-2,
    .submission-pic-3,
    .reports-submission-column {
        height: 400px;
    }
    .footer-logo {
        width: 385px;
        text-align: left;
    }
}


@media (min-width:992px){
    .container{
        width:970px
    }
    .service-sticker-container {
        width: 33.3333%;
    }
    .service-container {
        display: block;
    }
    .section-taxes-list {
        width: 70%;
    }
    .registration-list {
        font-size: 16px;
    }
    .footer-row {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-container {
        padding-left: 15px;
    }
    .copyright-container {
        justify-content: center;
    }
    .submission-pic-1,
    .submission-pic-2,
    .submission-pic-3,
    .reports-submission-column {
        height: 300px;
    }
    .footer-logo {
        width: 500px;
        text-align: center;
    }
    .footer-container {
        padding-top: 20px;
    }
}

@media (min-width:1230px){
    .container{
        width:1200px
    }
    .wide-nav {
        display: none;
    }
    .header-nav {
        width: 60%;
    }
    .dropdown-list {
        width: 300px;
        top: 170px;
        left: 72vw;
        right: 0;
    }
    .hamburger-menu {
        display: none;
    }
    .burger {
        display: none;
    }
    .lower-header {
        display: flex;
    }
    .header-logo {
        margin-left: 0px;
        padding-left: 0;
    }
    .section-hero {
        background-image: url(../img/Herojpg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .section-hero-container {
        width: 1300px;
        height: calc(100vh - 219px);
    }
    .hero-container {
        height: 100%;
        background: rgba(255, 255, 255, 0);
    }
    .title {
        width: 50%;
        font-size: 70px;
        line-height: 9vh;
    }
    .tagline {
        width: 47%;
        margin-top: 6vh;
    }
    .contact-us-btn {
        width: 330px;
        margin-left: 60px;
        margin-top:6%;
        font-size: 27px;
    }
    .section-taxes-list {
        width: 51%;
    }
    .support-text {
        margin-top: 0;
    }
    .support-row {
        display: block;
    }
    .accounting-text {
        margin-top: 0;
    }
    .footer-logo {
        width: 50%;
        text-align: center;
    }
}

@media (min-width:1830px) {
    .header-container {
        width: 1800px;
    }
    .header-nav {
        width: 80%;
    }
    .wide-nav {
        display: list-item;
    }
    .dropdown-list {
        width: 300px;
        top: 170px;
        left: 81vw;
        right: 0;
    }
    .section-hero-container {
        width: 1800px;
        height: calc(100vh - 219px);
    }
    .hero-container {
        height: 100%;
    }
    .title {
        width: 50%;
        font-size: 80px;
        line-height: 10vh;
    }
    .tagline {
        width: 27%;
        margin-top: 6vh;
    }
    .contact-us-btn {
        width: 330px;
        margin-left: 60px;
        margin-top:6%;
        font-size: 27px;
    }

}